@media (max-width: 760px) {
  .custom-navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar-elements-container {
    display: flex;
    flex-direction: column;
  }
  .navbar-logo {
    margin: 0 !important;
  }
}

.navbar-logo {
  margin-left: 5rem
}


.uk-button-icon {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown {
  margin-top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px;
}

.custom-dropdown ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.custom-dropdown li {
  margin: 5px 0;
}

.custom-dropdown a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.custom-navbar {
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.uk-button-icon {
  padding: 30px !important;
  cursor: pointer;
}

.uk-button-icon:hover .uk-icon {
  color: lightgray;
}

.uk-button-icon .uk-icon {
  color: white;
  width: 24px;
  height: 24px;
}

.uk-button-icon:hover .uk-icon {
  color: lightgray;
}

.button-header {
  border: none !important;
  color: white !important;
  padding: 10px 20px;
  cursor: pointer;
}

.button-header:hover {
  color: #ddd;
}

.div-icon-user {
  align-self: center;
}
